body {
  margin:0px;
  /* background-image:none; */
  position:relative;
  left:-0px;
  width:1400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:225px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1821px;
  width:1400px;
  height:225px;
  display:flex;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:20px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:1992px;
  width:1258px;
  height:20px;
  display:flex;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1980px;
  width:44px;
  height:44px;
  display:flex;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:1887px;
  width:50px;
  height:36px;
  display:flex;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_img.mouseOver {
  width:60px;
  height:46px;
}
#u72.mouseOver {
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:53px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:1878px;
  width:52px;
  height:53px;
  display:flex;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_img.mouseOver {
  width:62px;
  height:63px;
}
#u73.mouseOver {
}
#u73_img.mouseDown {
  width:52px;
  height:53px;
}
#u73.mouseDown {
}
#u73_img.selected {
}
#u73.selected {
}
#u73_img.mouseOver.mouseDown {
  width:62px;
  height:63px;
}
#u73.mouseOver.mouseDown {
}
#u73_img.mouseOver.selected {
  width:62px;
  height:63px;
}
#u73.mouseOver.selected {
}
#u73_img.mouseDown.selected {
}
#u73.mouseDown.selected {
}
#u73_img.mouseOver.mouseDown.selected {
  width:62px;
  height:63px;
}
#u73.mouseOver.mouseDown.selected {
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:1876px;
  width:55px;
  height:55px;
  display:flex;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_img.mouseOver {
  width:65px;
  height:65px;
}
#u74.mouseOver {
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:1876px;
  width:55px;
  height:55px;
  display:flex;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_img.mouseOver {
  width:65px;
  height:65px;
}
#u75.mouseOver {
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1888px;
  width:49px;
  height:36px;
  display:flex;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_img.mouseOver {
  width:59px;
  height:46px;
}
#u76.mouseOver {
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:63px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1861px;
  width:208px;
  height:63px;
  display:flex;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:752px;
  width:907px;
  height:58px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u78 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u78.mouseOver {
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:864px;
  width:907px;
  height:58px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u79 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u79_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u79.mouseOver {
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:976px;
  width:907px;
  height:58px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u80 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u80_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u80.mouseOver {
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1086px;
  width:907px;
  height:58px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u81 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u81.mouseOver {
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1200px;
  width:907px;
  height:58px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u82 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u82.mouseOver {
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1304px;
  width:907px;
  height:58px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u83 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u83_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u83.mouseOver {
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:63px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:73px;
  width:62px;
  height:63px;
  display:flex;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_img.mouseOver {
}
#u85.mouseOver {
}
#u85_img.mouseDown {
}
#u85.mouseDown {
}
#u85_img.mouseOver.mouseDown {
}
#u85.mouseOver.mouseDown {
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:59px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:77px;
  width:236px;
  height:59px;
  display:flex;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:95px;
  width:22px;
  height:22px;
  display:flex;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:75px;
  width:70px;
  height:70px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:86px;
  width:69px;
  height:48px;
  display:flex;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u89.mouseOver {
}
#u89_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u89.mouseDown {
}
#u89_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u89.mouseOver.mouseDown {
}
#u89_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:86px;
  width:82px;
  height:48px;
  display:flex;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u90.mouseOver {
}
#u90_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u90.mouseDown {
}
#u90_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u90.mouseOver.mouseDown {
}
#u90_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:84px;
  width:110px;
  height:48px;
  display:flex;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u91.mouseOver {
}
#u91_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u91.mouseDown {
}
#u91_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u91.mouseOver.mouseDown {
}
#u91_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:82px;
  width:136px;
  height:48px;
  display:flex;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u92.mouseOver {
}
#u92_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u92.mouseDown {
}
#u92_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anton-Regular", "Anton", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u92.mouseOver.mouseDown {
}
#u92_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:281px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:326px;
  width:281px;
  height:281px;
  display:flex;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:153px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:390px;
  width:348px;
  height:153px;
  display:flex;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:41px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:752px;
  width:49px;
  height:41px;
  display:flex;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_img.mouseOver {
  width:59px;
  height:51px;
}
#u96.mouseOver {
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:752px;
  width:41px;
  height:41px;
  display:flex;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_img.mouseOver {
  width:51px;
  height:51px;
}
#u97.mouseOver {
}
#u97_img.mouseDown {
  width:41px;
  height:41px;
}
#u97.mouseDown {
}
#u97_img.mouseOver.mouseDown {
  width:51px;
  height:51px;
}
#u97.mouseOver.mouseDown {
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:44px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:751px;
  width:54px;
  height:44px;
  display:flex;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_img.mouseOver {
  width:64px;
  height:54px;
}
#u98.mouseOver {
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:41px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:864px;
  width:49px;
  height:41px;
  display:flex;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_img.mouseOver {
  width:59px;
  height:51px;
}
#u100.mouseOver {
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:864px;
  width:41px;
  height:41px;
  display:flex;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_img.mouseOver {
  width:51px;
  height:51px;
}
#u101.mouseOver {
}
#u101_img.mouseDown {
  width:41px;
  height:41px;
}
#u101.mouseDown {
}
#u101_img.mouseOver.mouseDown {
  width:51px;
  height:51px;
}
#u101.mouseOver.mouseDown {
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:44px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:863px;
  width:54px;
  height:44px;
  display:flex;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u102_img.mouseOver {
  width:64px;
  height:54px;
}
#u102.mouseOver {
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:41px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:976px;
  width:49px;
  height:41px;
  display:flex;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_img.mouseOver {
  width:59px;
  height:51px;
}
#u104.mouseOver {
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:976px;
  width:41px;
  height:41px;
  display:flex;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_img.mouseOver {
  width:51px;
  height:51px;
}
#u105.mouseOver {
}
#u105_img.mouseDown {
  width:41px;
  height:41px;
}
#u105.mouseDown {
}
#u105_img.mouseOver.mouseDown {
  width:51px;
  height:51px;
}
#u105.mouseOver.mouseDown {
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:44px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:975px;
  width:54px;
  height:44px;
  display:flex;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_img.mouseOver {
  width:64px;
  height:54px;
}
#u106.mouseOver {
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:41px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:1088px;
  width:49px;
  height:41px;
  display:flex;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_img.mouseOver {
  width:59px;
  height:51px;
}
#u108.mouseOver {
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:1088px;
  width:41px;
  height:41px;
  display:flex;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_img.mouseOver {
  width:51px;
  height:51px;
}
#u109.mouseOver {
}
#u109_img.mouseDown {
  width:41px;
  height:41px;
}
#u109.mouseDown {
}
#u109_img.mouseOver.mouseDown {
  width:51px;
  height:51px;
}
#u109.mouseOver.mouseDown {
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:44px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:1087px;
  width:54px;
  height:44px;
  display:flex;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_img.mouseOver {
  width:64px;
  height:54px;
}
#u110.mouseOver {
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:41px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:1200px;
  width:49px;
  height:41px;
  display:flex;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112_img.mouseOver {
  width:59px;
  height:51px;
}
#u112.mouseOver {
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:1200px;
  width:41px;
  height:41px;
  display:flex;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113_img.mouseOver {
  width:51px;
  height:51px;
}
#u113.mouseOver {
}
#u113_img.mouseDown {
  width:41px;
  height:41px;
}
#u113.mouseDown {
}
#u113_img.mouseOver.mouseDown {
  width:51px;
  height:51px;
}
#u113.mouseOver.mouseDown {
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:44px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:1199px;
  width:54px;
  height:44px;
  display:flex;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114_img.mouseOver {
  width:64px;
  height:54px;
}
#u114.mouseOver {
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:41px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:1312px;
  width:49px;
  height:41px;
  display:flex;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_img.mouseOver {
  width:59px;
  height:51px;
}
#u116.mouseOver {
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:1312px;
  width:41px;
  height:41px;
  display:flex;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_img.mouseOver {
  width:51px;
  height:51px;
}
#u117.mouseOver {
}
#u117_img.mouseDown {
  width:41px;
  height:41px;
}
#u117.mouseDown {
}
#u117_img.mouseOver.mouseDown {
  width:51px;
  height:51px;
}
#u117.mouseOver.mouseDown {
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:44px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:1311px;
  width:54px;
  height:44px;
  display:flex;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118_img.mouseOver {
  width:64px;
  height:54px;
}
#u118.mouseOver {
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
